*, ::before, ::after {
    box-sizing: border-box;
}

:root {
    --light-grey: rgb(239, 233, 233);
    --light-black: rgb(42, 38, 38);
    --orange: rgb(215, 144, 10);
    --darker-orange: rgb(161, 108, 8);
    --darkest-orange: rgb(119, 79, 6);
    --black: rgb(0, 0, 0);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(218, 244, 255), rgb(255, 255, 255), rgb(218, 244, 255));
}

#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    width: 50%;
    height: 70vh;
    border: 1px solid var(--black);
    border-radius: 35px;
    background-color: var(--light-black);
}

#input {
    width: 95%;
    height: 17vh;
    border-radius: 25px;
    font-size: 1.9em;
    background-color: var(--light-grey);
    border: 3px solid var(--black);
    text-align: right;
}

#buttons {
    width: 95%;
    height: 46vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
    font-size: 2.4em;
    font-weight: bold;
    border: 3px solid var(--light-black);
    background-color: var(--orange);
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: var(--darker-orange);
}

button:active {
    background-color: var(--darkest-orange);
}

@media screen and (max-width: 600px) {
    button {
        font-size: 1.2em;
    }
    #input {
        font-size: 1.7em;
    }
}

@media screen and (orientation: landscape) {
    button {
        font-size: 1.4em;
        border: 2px solid var(--light-black);
    }
    #input {
        font-size: 1.5em;
    }
}